main/build/
main/HOYO ToolBox.spec
main/HOYO_ToolBox.db
main/config.ini
main/__pycache__

updater/updater.spec
updater/build/
updater/__pycache__
main/gacha_export.log
main/assets/font.ttf
main/assets/icons/GI.jpeg
main/assets/icons/HSR.png
main/assets/icons/icon.ico
main/assets/icons/icon.png
main/assets/icons/update.png
main/assets/icons/ZZZ.png
